<ng-template #content let-modal>
  <div class="modal-body">
    <video
      src="../../../../assets/ad.mp4"
      [playsInline]="true"
      autoplay
    ></video>

    <div class="skip">
      <!-- <span *ngIf="adType !== 'interstitial' && playerChances === 4" class="badge" (click)="canSkip && skipAd(modal)">
        {{ countdown > 15 ? countdown : "Skip ad" }}
      </span> -->
      <span class="rew" *ngIf="adType === 'interstitial' && !responseReceived" (click)="close('calculate player score')">
        Calculating your score...
      </span>
      <span *ngIf="adType === 'interstitial' && responseReceived" class="badge" (click)="skipAd(modal)">
        View score
      </span>
    </div>
    <div *ngIf="playerChances > 0 && adType !== 'interstitial'" class="reward">
      <div class="circle" [ngClass]="{ 'countdown-over': countdown === 0 }">
        <span class="rew">
          {{ countdown > 0 ? 'Rewards in: ' : '' }}
          <button *ngIf="countdown === 0" class="reward-button" (click)="claimReward()">
            Claim Reward
          </button> 
        </span>
        <svg height="60" width="60" *ngIf="countdown > 0">
          <circle
            class="circle-background"
            cx="30"
            cy="30"
            r="25"
          ></circle>
          <circle
            class="circle-progress"
            cx="30"
            cy="30"
            r="25"
            [attr.stroke-dasharray]="circumference"
            [attr.stroke-dashoffset]="dashOffset"
          ></circle>
          <text x="30" y="35" text-anchor="middle" class="countdown-text" *ngIf="countdown > 0">
            {{ countdown }}
          </text>
        </svg>
      </div>
    </div>
  </div>
</ng-template>
