<div class="interest-selection-container">
  <h2>Select your interests</h2>
  <div class="interests-grid">
    <div
      *ngFor="let interest of interests"
      (click)="toggleSelection(interest)"
      [class.selected]="interest.selected"
      class="interest-item"
    >
      <img src="/assets/icons/checked_bag.svg">
      <!-- <img src="/assets/icons/checked_bag_svg"  alt="" /> -->
      <span>{{ interest.name }}</span>
    </div>
  </div>
  <button (click)="continue()" class="continue-button">Continue</button>
  
</div>