<div class="mt-5">
    <div class="row gy-5">
      <div class="col-lg-4">
        <div class="win-bx">
          <img src="../../../assets/icons/Gold.svg" class="gold" alt="" />

          <div class="d-flex justify-content-center gap-1 mt-3">
            <div><img src="../../../assets/icons/av-1.svg" alt="" /></div>
            <div><p class="name">Fatherjay</p></div>
          </div>
          <div class="border"></div>

          <div class="mt-3">
            <div class="d-flex justify-content-between">
              <div>
                <p class="dt">TIME</p>
                <p class="dr">2 secs ago</p>
              </div>
              <div class="">
                <p class="dt">POINTS</p>
                <div class="dr-t"><p>3000</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="win-bx blue">
          <img src="../../../assets/icons/Silver.svg" class="gold" alt="" />

          <div class="d-flex justify-content-center gap-1 mt-3">
            <div><img src="../../../assets/icons/av-1.svg" alt="" /></div>
            <div><p class="name">Fatherjay</p></div>
          </div>
          <div class="border"></div>

          <div class="mt-3">
            <div class="d-flex justify-content-between">
              <div>
                <p class="dt">TIME</p>
                <p class="dr">2 secs ago</p>
              </div>
              <div class="">
                <p class="dt">POINTS</p>
                <div class="dr-t"><p>3000</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="win-bx red">
          <img src="../../../assets/icons/Bronze.svg" class="gold" alt="" />

          <div class="d-flex justify-content-center gap-1 mt-3">
            <div><img src="../../../assets/icons/av-1.svg" alt="" /></div>
            <div><p class="name">Fatherjay</p></div>
          </div>
          <div class="border"></div>

          <div class="mt-3">
            <div class="d-flex justify-content-between">
              <div>
                <p class="dt">TIME</p>
                <p class="dr">2 secs ago</p>
              </div>
              <div class="">
                <p class="dt">POINTS</p>
                <div class="dr-t"><p>3000</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
