<nav class="navbar justify-content-between">
  <div class="container">
    <a class="navbar-brand"></a>
    <form class="form-inline">
      <button (click)="goToLogin()" class="play-now my-2 my-sm-0">Play Now!</button>
    </form>
  </div>
</nav>

<div class="hero">
  <div class="container d-flex" style="height: 100%">
    <div class="col-lg-6">
      <p class="maintext">Become the Trivia Champion You Were Meant to Be!</p>
      <p class="subtext mt-4">
        Test your knowledge and challenge your friends with our addictive quiz
        app to win <span>$100</span>.
      </p>
      <button class="play-now my-2 mt-4">Play Now!</button>
    </div>
    <div class="col-lg-6 position-relative">
      <img src="../../../assets/imgs/curve.svg" class="curve" alt="" />
      <img src="../../../assets/imgs/phone.svg" class="phone" alt="" />
      <img src="../../../assets/imgs/money.svg" class="money" alt="" />
    </div>
  </div>
</div>

<div class="benefit">
  <div class="row align-items-center justify-content-between">
    <div class="col-lg-6">
      <img src="../../../assets/imgs/guy1.svg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-6">
      <p class="title">Instant Friend Battles</p>
      <p class="texts mt-3">
        Challenge your friends to a trivia showdown in real-time! See who reigns
        supreme and brag about your trivia mastery.
      </p>
      <button class="play-now mt-3">Play Now!</button>
    </div>
  </div>
  <div class="row align-items-center mt-5 justify-content-between">
    <div class="col-lg-6">
      <p class="title">Daily Brainteasers</p>
      <p class="texts mt-3">
        Keep your mind sharp with a new, bite-sized trivia question delivered
        every day. Test your knowledge on a variety of topics and expand your
        learning horizons.
      </p>
      <button class="play-now mt-3">Play Now!</button>
    </div>
    <div class="col-lg-6 d-flex justify-content-end">
      <img src="../../../assets/imgs/giirl1.svg" alt="" class="img-fluid" />
    </div>
  </div>
</div>

<div class="cta-sec">
  <p class="maintext1">Challenge Your Friends:</p>
  <p class="maintext2 maintext1">Play Now!</p>
  <button class="play-now mt-3">Play Now!</button>
  <div class="container">
    <img src="../../../assets/imgs/im1.svg" class="img-fluid im1" alt="" />
    <img src="../../../assets/imgs/im2.svg" class="img-fluid im2" alt="" />
    <img src="../../../assets/imgs/im3.svg" class="img-fluid im3" alt="" />
    <img src="../../../assets/imgs/im4.svg" class="img-fluid im4" alt="" />
    <img src="../../../assets/imgs/im5.svg" class="img-fluid im5" alt="" />

  </div>
</div>
