<div class="container">
    <div class="row">
        <div class="login-container p-5">
            <div>
              <ul class="nav nav-pills nav-fill gap-5 p-1 small switch-container  shadow-sm" id="pillNav2"
                role="tablist"
                style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
                <li class="nav-item" role="presentation">
                  <button (click)="switchToTab('register')" class="nav-link active" [class.active]="activeTab === 'register'" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="true">Sign Up</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button (click)="switchToTab('login')" class="nav-link" [class.active]="activeTab === 'login'" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
                    aria-selected="false">Log in</button>
                </li>
              </ul>
            </div>
            <div class="login-container bg-white shadow p-5 mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-6"> <!-- Adjust the column width as needed -->
                        <div class="text-center"> <!-- Center the content horizontally -->
                            <!-- Your logo content here -->
                            logo
                        </div>
                    </div>
                </div>
                <div [ngSwitch]="currentTab" class="mt-4">
                  <!-- Register Form -->
                  <div *ngSwitchCase="'register'" class="tab-pane fade show">
                    <div>
                      <h2>Sign Up</h2>
                    </div>
                    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                        <div class="form-group" style="margin-top: 20px;">
                          <label>Full name <span class="required">*</span></label>
                          <div class="input-group">
                            <input type="text"  class="form-control quiz-input" formControlName="fullname" [ngClass]="{ 'invalid-input': signUpForm.get('fullname')!.invalid && signUpForm.get('fullname')!.touched }">
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label>Email Address <span class="required">*</span></label>
                          <div class="input-group">
                            <input type="text"  class="form-control quiz-input" formControlName="email" [ngClass]="{ 'invalid-input': signUpForm.get('email')!.invalid && signUpForm.get('email')!.touched }">
                          </div>
                        </div>

                        <div class="form-group">
                            <label>Username<span class="required">*</span></label>
                            <div class="input-group">
                              <input type="text"  class="form-control quiz-input" formControlName="username" [ngClass]="{ 'invalid-input': signUpForm.get('username')!.invalid && signUpForm.get('username')!.touched }">
                            </div>
                          </div>
                      
                        <div class="form-group">
                          <label>Password<span class="required">*</span></label>
                          <div class="input-group">
                            <input type="{{ hidePassword ? 'password' : 'text' }}"  class="form-control quiz-input" formControlName="password" [ngClass]="{ 'invalid-input': signUpForm.get('password')!.invalid && signUpForm.get('password')!.touched }">
                            <div class="icon-container">
                              <svg class="eye-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  viewBox="0 0 16 16" (click)="togglePasswordVisibility()">
                                  <!-- Conditionally render bi-eye or bi-eye-slash path -->
                                  <ng-container *ngIf="hidePassword">
                                    <path
                                      d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                    <path
                                      d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                    <path
                                      d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                  </ng-container>
                                  <ng-container *ngIf="!hidePassword">
                                    <path
                                      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                  </ng-container>
                              </svg>
                            </div>
                            <!-- <i class="bi" [ngClass]="isPasswordVisible ? 'bi-eye' : 'bi-eye-slash'" id="togglePassword" (click)="togglePasswordVisibility()"></i> -->
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label>Confirm Password<span class="required">*</span></label>
                          <div class="input-group">
                            <input type="{{ hideConfirmPassword ? 'password' : 'text' }}"  class="form-control quiz-input" formControlName="confirm_password" [ngClass]="{ 'invalid-input': signUpForm.get('confirm_password')!.invalid && signUpForm.get('confirm_password')!.touched }">
                            <div class="icon-container">
                              <svg class="eye-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  viewBox="0 0 16 16" (click)="toggleConfirmPassword()">
                                  <!-- Conditionally render bi-eye or bi-eye-slash path -->
                                  <ng-container *ngIf="hideConfirmPassword">
                                    <path
                                      d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                    <path
                                      d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                    <path
                                      d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                  </ng-container>
                                  <ng-container *ngIf="!hideConfirmPassword">
                                    <path
                                      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                  </ng-container>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="termsCheckbox" formControlName="terms">
                            <label for="termsCheckbox" style="margin-left: 10px; font-size: 15px;">
                                I accept QuizMe’s <a href="#" style="color: #6949FF; text-decoration: none;">Terms of Service</a> 
                                and <a href="#" style="color: #6949FF; text-decoration: none;">Privacy Policy</a>
                            </label>
                        </div>
                        <div class="form-group">
                          <!-- <input type="submit" value="Sign Up" [disabled]="signUpForm.invalid" class="btn btn-active btn-lg"> -->
                          <button [disabled]="!signUpForm.valid" class="quiz-button">Sign Up</button>
                        </div>
                    </form>
                    <div class="card-footer">
                      <div class="d-flex justify-content-center links">
                        Already have an account?<a (click)="switchToTab('login')" style="color: #6949FF; text-decoration: none;"><b>Log in</b></a>
                      </div>
                    </div>
                  </div>
                    <!-- Login Form -->
                    <div *ngSwitchCase="'login'" class="tab-pane fade show active">
                      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
                        
                        <div class="form-group" style="margin-top: 20px;">
                            <label>Email Address<span class="required">*</span></label>
                            <div class="input-group">
                              <input type="text" class="form-control quiz-input" formControlName="email" [ngClass]="{ 'invalid-input': signInForm.get('email')!.invalid && signInForm.get('email')!.touched }">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password<span class="required">*</span><span class="forgot-password">Forgot Password</span></label>
                            <div class="input-group">
                              <input type="{{ hideLoginPassword ? 'password' : 'text' }}"  class="form-control quiz-input" formControlName="password" [ngClass]="{ 'invalid-input': signInForm.get('password')!.invalid && signInForm.get('password')!.touched }">
                              <div class="icon-container">
                                <svg class="eye-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    viewBox="0 0 16 16" (click)="toggleLoginPassword()">
                                    <!-- Conditionally render bi-eye or bi-eye-slash path -->
                                    <ng-container *ngIf="hideLoginPassword">
                                      <path
                                        d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                      <path
                                        d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                      <path
                                        d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                    </ng-container>
                                    <ng-container *ngIf="!hideLoginPassword">
                                      <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                    </ng-container>
                                </svg>
                              </div>
                            </div>
                          </div>
                        <div class="row align-items-center remember">
                          <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                          <button type="submit" [disabled]="signInForm.invalid" value="Login" class="quiz-button">Log In</button>
                        </div>
                      </form>
                      <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                          Dont have an account yet?<a (click)="switchToTab('register')" style="color: #6949FF; text-decoration: none;"><b>Sign up</b></a>
                        </div>
                      </div>
                    </div>  
                  </div>
            </div>
        </div>
        
    </div>
</div>