<nav class="navbar justify-content-between sticky-top">
  <div class="container">
    <a class="navbar-brand"
      ><img src="../../../assets/imgs/logo.svg" alt="" srcset=""
    /></a>

    <form class="d-flex gap-2 tab-con">
      <div
        routerLink="/dashboard"
        class="d-flex gap-2 mt-2 col-lg-2 tab cursor"
        [ngClass]="{ active: checkIfInRoute('/dashboard') }"
      >
        <div>
          <img
            src="../../../assets/icons/grid_view_.svg"
            *ngIf="!checkIfInRoute('/dashboard')"
            alt=""
          />
        </div>
        <div>
          <img
            src="../../../assets/icons/grid_view.svg"
            *ngIf="checkIfInRoute('/dashboard')"
            alt=""
          />
        </div>

        <div><p class="tab-name">Dashboard</p></div>
      </div>

      <div
        class="d-flex gap-2 mt-2 col-lg-2 tab justify-content-center cursor"
        routerLink="/dashboard/settings"
        [ngClass]="{ active: checkIfInRoute('/dashboard/settings') }"
      >
        <div>
          <img
            src="../../../assets/icons/settings.svg"
            alt=""
            *ngIf="!checkIfInRoute('/dashboard/settings')"
          />
          <img
            src="../../../assets/icons/settings_.svg"
            alt=""
            *ngIf="checkIfInRoute('/dashboard/settings')"
          />
        </div>

        <div><p class="tab-name unset">Settings</p></div>
      </div>

      <div class="col-lg-8 col-12 col-md d-flex justify-content-end">
        <div class="user-box d-flex gap-1">
          <div><img src="../../../assets/imgs/avatars.svg" alt="" /></div>
          <div>
            <p class="name">Izzytheguy</p>
            <p class="sub">{{ "adegbulugbeisrae@gmail.com" }}</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>
