.navbar {
  margin-top: -15px;

  .tab-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #706d73;
    margin-top: 2px;
  }

  .tab {
    justify-content: center;
  }
  .active {
    border-bottom: 2px solid #6949ff;
    .tab-name {
      color: #6949ff;
    }
    svg {
      path {
        fill: #6949ff !important;
      }
    }
  }
  .unset {
    color: #706d73;
  }
  .user-box {
    align-items: center;
    width: 261px;
    height: 46px;
    padding: 2px 12px 2px 12px;
    border-radius: 8px;
    border: 0.5px solid #d3d0d6;
    .name {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #1d1c1f;
      margin-bottom: -6px;
      margin-top: 14px;
      text-align: start;
    }
    .sub {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      color: #88868a;
      text-align: start;
    }
  }
  @media screen and (max-width: 375px) {
    .name {
      font-size: 13px !important;
    }
    .sub {
      font-size: 10px !important;
    }
  }
}

.tab-con {
  width: 60%;
}
@media screen and (max-width: 991px) {
  .tab-con {
    width: 70%;
    gap: 44px !important;
  }
}

@media screen and (max-width: 870px) {
  .tab-con {
    .tab {
      display: none !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .tab-con {
    width: 20% !important;
  }
}
