.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 518px;
    height: 80%;
    max-height: 412.8px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
}
