/* You can add global styles to this file, and also import other style files */

@import url("./assets/styles/_custom.css");
@import url("https://fonts.googleapis.com/css?family=Numans");
//@import "angular-notifier/styles";
@import "../node_modules/bootstrap/scss/bootstrap";

@media screen and (min-width: 1440px) {
}
.container {
}

.quiz-button {
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
  background-color: #6949ff;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 6px 0px 0px #221659;
  display: inline-block;
  width: 100% !important;
}

.forgot-password {
  float: right;
  font-size: 12px;
  color: #6949ff; /* Adjust color as needed */
  margin-left: 13rem; /* Adjust spacing as needed */
  font-weight: bolder;
}

.quiz-input {
  font-size: 16px;
  border-radius: 10px;
  background-color: #f8f8f8;
  height: 48px !important;
}
.quiz-input:focus {
  border-color: #6949ff; /* Purple border color when input is focused */
}

.quiz-input.invalid-input {
  border-color: #ff0000 !important; /* Red border color for invalid input */
}
.quiz-button:disabled {
  background-color: #c0b6ed; /* Change background color to grey */
  cursor: not-allowed; /* Change cursor to not-allowed */
}
