.navbar {
  margin-top: -15px;

  .tab-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #6949ff;
    margin-top: 2px;
  }

  .tab {
    border-bottom: 2px solid #6949ff;
    justify-content: center;
  }
  .unset {
    color: #706d73;
  }
  .user-box {
    align-items: center;
    width: 261px;
    height: 46px;
    padding: 2px 12px 2px 12px;
    border-radius: 8px;
    border: 0.5px solid #d3d0d6;
    .name {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #1d1c1f;
      margin-bottom: -6px;
      margin-top: 14px;
      text-align: start;
    }
    .sub {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      color: #88868a;
      text-align: start;
    }
  }
}

.dash-container {
  padding: 10px 260px;
}

.ov-bg {
  height: 226px;
  padding: 36px;
  background: linear-gradient(276.34deg, #682aa7 38.48%, #38118b 78.97%);
  border-radius: 16px;
  .title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
  }
  .sub {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    margin-top: -10px;
    width: 70%;
  }
  button {
    width: 331px;
    height: 42px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 6px 0px 0px #221659;
    background: #6949ff;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    border: none;
    margin-top: 10px;
  }

  .timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.14em;
      text-align: center;
      color: #ffffff;
    }
    .counter {
      width: 74px;
      height: 74px;
      border-radius: 8px;
      background: #22165959;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .count {
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #ffffff;
        margin-top: 13px;
      }

      .sub {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}

.section {
  margin-top: 40px;

  .sec-title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
  }
}

.win-bx {
  height: 168px;
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  background: #6a20f4;
  box-shadow: 0px 8px 0px 0px #420ea3;
  position: relative;

  .gold {
    position: absolute;
    left: 42%;
    top: -23px;
  }
  .name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 2px;
    color: #ffffff;
  }
  .border {
    border-bottom: 0.2px solid #f4f0f7;
    margin-top: 10px;
  }
  .dt {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #e7e4eb;
  }
  .dr {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin-top: -17px;
  }
  .dr-t {
    width: 38px;
    height: 20px;
    padding: 10px 4px 10px 4px;
    border-radius: 5px;
    background: #e3defc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    p {
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #6949ff;
      margin-top: 16px;
    }
  }
}

.blue {
  background-color: #0c68b9 !important;
  box-shadow: 0px 8px 0px 0px #0e5da3 !important;
}
.red {
  background-color: #c4155b !important;
  box-shadow: 0px 8px 0px 0px #a30e4a !important;
}

.table {
  box-shadow: 0px 4px 6px -2px #8a86860d !important;
  box-shadow: 0px 12px 16px -4px #8a86861a !important;
}
